MQTT_MODE='metawork'
# MQTT_SERVER='127.0.0.1'
MQTT_SERVER='sora2.uclab.jp'
ROBOT_UUID='doosan-real'
ROBOT_MODEL='doosan-real'
MQTT_MANAGE_TOPIC='mgr'
MQTT_CTRL_TOPIC='control'
MQTT_ROBOT_STATE_TOPIC='robot'
ROBOT_IP='192.168.5.43'
SAVE='true'
MOVE='true'
