MQTT_MODE='metawork'
# MQTT_SERVER='127.0.0.1'
MQTT_SERVER='sora2.uclab.jp'
ROBOT_UUID='sciurus17_remote_vr'
ROBOT_MODEL='sciurus17_remote_vr'
MQTT_MANAGE_TOPIC='mgr'
MQTT_CTRL_TOPIC='control'
MQTT_ROBOT_STATE_TOPIC='robot'
SAVE='true'
MOVE='true'
